#toolbar > span {
    margin-right: 1em;
}

#toolbar > div {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 5px;
}

#toolbar > div > * {
    vertical-align: text-top;
}

#container {
    padding: 10px;
    text-align: center;
}